@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
 background-color: rgb(39, 38, 38);
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Roboto',serif;
}
.main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 25px;
}
.time{
 color: red;
 font-size: 5rem;
}
.button{
 display: flex;
}
#lpr,#strt{
 border:2px solid black;
 background: azure;
 color: blue;
 padding: 20px;
 font-size: 15px;
 font-weight: bold;
 border-radius: 50%;
 margin: 50px;
 cursor: pointer;
}
button:hover{
 box-shadow: 3px 3px 2px azure,-3px -3px 2px azure;
 background: cyan !important;
 color: firebrick !important;
 text-decoration: underline;
}
li{
 border-top: 1px solid cyan;
 border-bottom: px solid cyan;
 display: flex;
 justify-content: space-between;
 padding: 10px;
 color: white;
}
